.containerbg--encolhido{
    width:17.5% !important;
}

.containerbg--selecionado{
    width:30% !important;
    background-image:none;
    background-color:white;
}

.logo--encolhido{
    font-size:4em !important;
}

.subtitulo--encolhido{
    font-size:1em !important;
}

.title--escondido{
    top: 100%;
    left: 0;
    transform: translatey(-100%);
}

.title--escondido .title__name{
    border-left:4px solid #65b8fc !important;
}

.title--escondido .title__profession{
    border-bottom:4px solid #65b8fc !important;
}

.opacidade0{
    opacity:0 !important;
}

.containerbg--selecionado .conteudobg{
    display: inline-block !important;
    opacity: 1 !important;
    width: 100%;
    height: 100%;

}

.containerbg--selecionado .informacao__containerbg{
    opacity:1 !important;
}
